<h1>РК2. Цыпленков Михаил, ИУ6-34Б</h1>

<p>
    Условие: Дан массив чисел arr_c. Найти сумму элементов, кратных 15, и поместить ее на место первого отрицательного элемента.
</p>

<%= form_tag("/calc/view", :method => "get") do %>
 <%= label_tag("Массив: ") %>
 <%= text_field_tag(:arr, value = '1 15 3 45 -15 6 7')%> <br/> 
 <%= submit_tag("выполнить задание") %>
<% end %> 
